* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: unset;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 1024px;
    padding-left: 27px;
    padding-right: 27px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 768px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

@import "./styles/sections/headre";
@import "./styles/sections/nav";
@import "./styles/sections/rotator";
@import "./styles/sections/arrow";
@import "./styles/sections/explore";
@import "./styles/sections/card";
@import "./styles/sections/finde";
@import "./styles/sections/block";
@import "./styles/sections/footer";
