* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: unset;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1024px;
    padding-left: 27px;
    padding-right: 27px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 768px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
.header {
  position: relative;
  height: 880px;
}
.header__container {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
}
.header__img--background {
  width: 1920px;
}
.header__img {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.header:after {
  height: 880px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
  mix-blend-mode: normal;
  opacity: 0.9;
}
.header__title {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  width: 564px;
  margin: 0 auto;
  padding-top: 271px;
  overflow: hidden;
}
.header__dot-decoration {
  position: absolute;
}
.header__input-block {
  margin: 0 auto;
  padding-top: 33px;
}
.header__selector {
  width: 270px;
  height: 48px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.501557);
}
.header__input {
  width: 470px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.501557);
  padding-left: 15px;
}
.header__arrow {
  margin-top: 272px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 1440px) {
  .header {
    height: 768px;
  }
  .header__arrow {
    margin-top: 160px;
  }
  .header:after {
    height: 768px;
  }
  .header__title {
    padding-top: 218px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 880px;
  }
  .header__arrow {
    margin-top: 177px;
  }
  .header:after {
    height: 880px;
  }
  .header__title {
    padding-top: 271px;
  }
  .header__input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 52px;
  }
  .header__selector {
    width: 470px;
    margin-right: 0px;
    margin-bottom: 28px;
  }
}
.nav {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__list-item {
  padding-right: 60px;
}
.nav__list-item:last-child {
  padding-right: 0;
}
.nav__logo--text {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
  color: #ffffff;
}
.nav__item-link {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.nav__oval {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3003);
}
.nav__burger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav__list {
    display: none;
  }
  .nav__burger {
    display: flex;
    margin-left: 11px;
  }
  .nav__personal {
    display: flex;
  }
}
.rotator {
  height: 880px;
  position: relative;
}
.rotator__main-text {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 1px;
  color: #333333;
  margin-top: 76px;
}
.rotator__text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-top: 14px;
  margin-right: 14px;
}
.rotator__browse {
  margin-top: 597px;
  display: flex;
  align-items: center;
}
.rotator__browse-text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-right: 14px;
}

@media screen and (max-width: 1024px) {
  .rotator {
    height: 954px;
  }
  .rotator__browse {
    margin-top: 582px;
    display: flex;
    align-items: center;
  }
  .rotator__main-text {
    margin-top: 86px;
    width: 470px;
    line-height: 64px;
    overflow: hidden;
  }
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3003);
}
.arrow__right--img {
  transform: rotate(-90deg);
}
.arrow__black {
  border: 1px solid rgba(51, 51, 51, 0.297271);
}
.arrow__black--img {
  fill: #004fde;
}

.explore {
  width: 100%;
  height: 1184px;
  background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
  border-radius: 0px 175px 0px 0px;
}
.explore__main-text {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-top: 76px;
}
.explore__text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 14px;
}
.explore__cards {
  display: grid;
  grid-template-rows: repeat(2, 368px);
  grid-template-columns: repeat(3, 370px);
  grid-gap: 30px;
  margin-top: 70px;
}
.explore__browse {
  display: flex;
  align-items: center;
  padding-top: 48px;
}
.explore__text-bottom {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 14px;
}

@media screen and (max-width: 1440px) {
  .explore__cards {
    display: grid;
    grid-template-rows: repeat(2, 368px);
    grid-template-columns: repeat(3, 310px);
    grid-gap: 20px;
    margin-top: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .explore {
    height: 1573px;
  }
  .explore__cards {
    display: grid;
    grid-template-rows: repeat(3, 368px);
    grid-template-columns: repeat(2, 359px);
    grid-gap: 20px;
    margin-top: 70px;
  }
}
.card {
  width: 100%;
}
.card__img {
  position: absolute;
  z-index: 0;
  border-radius: 20px;
}
.card__main-text {
  position: relative;
  z-index: 1;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: #ffffff;
  padding-left: 32px;
  padding-top: 24px;
}
.card__text {
  position: relative;
  z-index: 1;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 32px;
  padding-top: 7px;
}
.card__properties {
  position: relative;
  z-index: 1;
  margin-left: 32px;
  margin-top: 201px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 24px;
  width: 146px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .card {
    width: 310px;
  }
  .card__img {
    width: 310px;
    height: 368px;
  }
}
@media screen and (max-width: 1024px) {
  .card {
    width: 359px;
  }
  .card__img {
    width: 359px;
    height: 368px;
  }
}
.finde {
  background-color: #f5f5f5;
}
.finde__block {
  width: 1440px;
  height: 880px;
  margin: auto;
}
.finde__container {
  position: relative;
  z-index: 1;
  flex-direction: row-reverse;
  display: flex;
  padding-top: 252px;
}
.finde__bg {
  position: absolute;
  z-index: 0;
}
.finde__main-text {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1px;
  color: #333333;
  width: 327px;
  overflow: hidden;
}
.finde__text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  padding-top: 30px;
}
.finde__buttoms {
  display: flex;
  margin-top: 38px;
}
.finde__google {
  width: 206px;
  height: 64px;
  background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-right: 30px;
}
.finde__button {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background-color: transparent;
  padding-left: 15px;
}
.finde__apple {
  width: 182px;
  height: 64px;
  background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

@media screen and (max-width: 1440px) {
  .finde__block {
    width: 1024px;
  }
  .finde__bg {
    left: -296px;
  }
}
@media screen and (max-width: 1024px) {
  .finde__block {
    width: 768px;
  }
  .finde__bg {
    left: -400px;
  }
  .finde__text {
    width: 344px;
  }
  .finde__buttoms {
    display: flex;
    margin-top: 38px;
    flex-direction: column;
  }
  .finde__google {
    width: 300px;
    height: 64px;
    align-items: center;
    padding-left: 64px;
  }
  .finde__apple {
    width: 300px;
    height: 64px;
    margin-top: 26px;
    padding-left: 78px;
  }
}
.block {
  width: 270px;
  height: 464px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.block:last-child {
  margin-right: 0;
}
.block__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  border-radius: 20px;
  height: 100%;
  width: 270px;
}
.block__main-text {
  position: relative;
  z-index: 1;
  margin-left: 32px;
  margin-top: 26px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.block__text {
  position: relative;
  z-index: 1;
  margin-left: 32px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: #ffffff;
}

.center {
  width: 1440px;
  display: flex;
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  height: 448px;
}
.footer__top {
  display: flex;
  height: 336px;
  justify-content: space-between;
  padding-top: 74px;
}
.footer__bot {
  height: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e9e9e9;
}
.footer__menu {
  display: flex;
  padding-top: 14px;
}
.footer__logo--text {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
  color: #333333;
}
.footer__small-text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.501557);
  width: 223px;
}
.footer__nine {
  margin-top: 37px;
}
.footer__social {
  margin-top: 49px;
  display: flex;
}
.footer__social-img {
  margin-right: 8px;
}
.footer__social-img:last-child {
  margin-right: 0px;
}
.footer__title {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: #333333;
}
.footer__list {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 8px;
}
.footer__list :last-child {
  margin-bottom: 0px;
}
.footer__list-one {
  margin-top: 23px;
  margin-right: 128px;
}
.footer__list-two {
  margin-top: 59px;
}
.footer__email {
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 5px;
  width: 370px;
  height: 48px;
  padding-left: 16px;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
}
.footer__get {
  padding-top: 23px;
}
.footer__sub-form {
  padding-top: 16px;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__button {
  background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
  border-radius: 5px;
  width: 370px;
  height: 48px;
  margin-top: 16px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.footer__all {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.501557);
}

@media screen and (max-width: 1024px) {
  .footer {
    height: 598px;
  }
  .footer__top {
    display: flex;
    height: 486px;
    justify-content: flex-start;
    padding-top: 74px;
    flex-wrap: wrap;
  }
  .footer__nine {
    margin-top: 37px;
  }
  .footer__re {
    width: 740px;
    justify-content: space-between;
    display: flex;
  }
  .footer__small-text {
    width: 100%;
  }
  .footer__social {
    margin-top: 85px;
    display: block;
  }
  .footer__list-one {
    margin-top: 23px;
    margin-right: 52px;
  }
  .footer__subscribe {
    padding-left: 178px;
  }
}/*# sourceMappingURL=style.css.map */