.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  &__right--img {
    transform: rotate(-90deg);
  }
  &__black {
    border: 1px solid rgba(51, 51, 51, 0.297271);
    &--img {
      fill: #004fde;
    }
  }
}
