.block {
  width: 270px;
  height: 464px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  &:last-child {
    margin-right: 0;
  }
  // &:hover {
  //   width: 370px;
  //   height: 640px;
  //   background: rgb(3, 25, 25);
  //   transition: all 2s ease;
  // }

  &__img {
    position: absolute;
    object-fit: cover;
    z-index: 0;
    border-radius: 20px;
    height: 100%;
    width: 270px;
  }
  &__main-text {
    position: relative;
    z-index: 1;
    margin-left: 32px;
    margin-top: 26px;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }
  &__text {
    position: relative;
    z-index: 1;
    margin-left: 32px;

    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
  }
}

.center {
  width: 1440px;
  display: flex;
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translate(-50%, 0);
}
