.card {
  width: 100%;
  &__img {
    position: absolute;
    z-index: 0;
    border-radius: 20px;
  }
  &__main-text {
    position: relative;
    z-index: 1;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    padding-left: 32px;
    padding-top: 24px;
  }
  &__text {
    position: relative;
    z-index: 1;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;

    padding-left: 32px;
    padding-top: 7px;
  }
  &__properties {
    position: relative;
    z-index: 1;
    margin-left: 32px;
    margin-top: 201px;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #333333;

    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0992414);
    border-radius: 24px;
    width: 146px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1440px) {
  .card {
    width: 310px;
    &__img {
      width: 310px;
      height: 368px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .card {
    width: 359px;
    &__img {
      width: 359px;
      height: 368px;
    }
  }
}
