.explore {
  width: 100%;
  height: 1184px;
  background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
  border-radius: 0px 175px 0px 0px;
  &__main-text {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 76px;
  }
  &__text {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    margin-top: 14px;
  }
  &__cards {
    display: grid;
    grid-template-rows: repeat(2, 368px);
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
    margin-top: 70px;
  }
  &__browse {
    display: flex;
    align-items: center;
    padding-top: 48px;
  }
  &__text-bottom {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 14px;
  }
}
@media screen and (max-width: 1440px) {
  .explore {
    &__cards {
      display: grid;
      grid-template-rows: repeat(2, 368px);
      grid-template-columns: repeat(3, 310px);
      grid-gap: 20px;
      margin-top: 70px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .explore {
    height: 1573px;
    &__cards {
      display: grid;
      grid-template-rows: repeat(3, 368px);
      grid-template-columns: repeat(2, 359px);
      grid-gap: 20px;
      margin-top: 70px;
    }
  }
}
