.finde {
  background-color: #f5f5f5;
  &__block {
    width: 1440px;
    height: 880px;
    margin: auto;
  }
  &__container {
    position: relative;
    z-index: 1;
    flex-direction: row-reverse;
    display: flex;
    padding-top: 252px;
  }
  &__bg {
    position: absolute;
    z-index: 0;
  }
  &__main-text {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 1px;
    color: #333333;
    width: 327px;
    overflow: hidden;
  }
  &__text {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    padding-top: 30px;
  }
  &__buttoms {
    display: flex;
    margin-top: 38px;
  }
  &__google {
    width: 206px;
    height: 64px;
    background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin-right: 30px;
  }
  &__button {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    background-color: transparent;
    padding-left: 15px;
  }
  &__apple {
    width: 182px;
    height: 64px;
    background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
}
@media screen and (max-width: 1440px) {
  .finde {
    &__block {
      width: 1024px;
    }
    &__bg {
      left: -296px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .finde {
    &__block {
      width: 768px;
    }
    &__bg {
      left: -400px;
    }
    &__text {
      width: 344px;
    }
    &__buttoms {
      display: flex;
      margin-top: 38px;
      flex-direction: column;
    }
    &__google {
      width: 300px;
      height: 64px;
      align-items: center;
      padding-left: 64px;
    }
    &__apple {
      width: 300px;
      height: 64px;
      margin-top: 26px;
      padding-left: 78px;
    }
  }
}
