.footer {
  height: 448px;
  &__top {
    display: flex;
    height: 336px;
    justify-content: space-between;
    padding-top: 74px;
  }
  &__bot {
    height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e9e9e9;
  }
  &__menu {
    display: flex;
    padding-top: 14px;
  }
  &__logo--text {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    color: #333333;
  }
  &__small-text {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.501557);
    width: 223px;
  }
  &__nine {
    margin-top: 37px;
  }
  &__social {
    margin-top: 49px;
    display: flex;
  }
  &__social-img {
    margin-right: 8px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__title {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #333333;
  }
  &__list {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #333333;

    margin-bottom: 8px;
    :last-child {
      margin-bottom: 0px;
    }
  }
  &__list-one {
    margin-top: 23px;
    margin-right: 128px;
  }
  &__list-two {
    margin-top: 59px;
  }
  &__email {
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 370px;
    height: 48px;

    padding-left: 16px;
  }
  &__subscribe {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
  }
  &__get {
    padding-top: 23px;
  }
  &__sub-form {
    padding-top: 16px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__button {
    background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
    border-radius: 5px;
    width: 370px;
    height: 48px;
    margin-top: 16px;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }
  &__all {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.501557);
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    height: 598px;
    &__top {
      display: flex;
      height: 486px;
      justify-content: flex-start;
      padding-top: 74px;
      flex-wrap: wrap;
    }
    &__nine {
      margin-top: 37px;
    }
    &__re {
      width: 740px;
      justify-content: space-between;
      display: flex;
    }
    &__small-text {
      width: 100%;
    }
    &__social {
      margin-top: 85px;
      display: block;
    }
    &__list-one {
      margin-top: 23px;
      margin-right: 52px;
    }
    &__subscribe {
      padding-left: 178px;
    }
  }
}
