.header {
  position: relative;
  height: 880px;
  &__container {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__img--background {
    width: 1920px;
  }
  &__img {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
  }
  &:after {
    height: 880px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(135deg, #ca5eff 0%, #004fde 100%);
    mix-blend-mode: normal;
    opacity: 0.9;
  }
  &__title {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    width: 564px;
    margin: 0 auto;
    padding-top: 271px;
    overflow: hidden;
  }
  &__dot-decoration {
    position: absolute;
  }
  &__input-block {
    margin: 0 auto;
    padding-top: 33px;
  }
  &__selector {
    width: 270px;
    height: 48px;
    margin-right: 30px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 5px;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.501557);
  }
  &__input {
    width: 470px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 5px;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.501557);

    padding-left: 15px;
  }
  &__arrow {
    margin-top: 272px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 1440px) {
  .header {
    height: 768px;
    &__arrow {
      margin-top: 160px;
    }
    &:after {
      height: 768px;
    }
    &__title {
      padding-top: 218px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 880px;
    &__arrow {
      margin-top: 177px;
    }
    &:after {
      height: 880px;
    }
    &__title {
      padding-top: 271px;
    }
    &__input-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 52px;
    }
    &__selector {
      width: 470px;
      margin-right: 0px;
      margin-bottom: 28px;
    }
  }
}
