.nav {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
  }
  &__list-item {
    padding-right: 60px;
    &:last-child {
      padding-right: 0;
    }
  }
  &__logo--text {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  &__item-link {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }
  &__oval {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3003);
  }
  &__burger {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    &__list {
      display: none;
    }
    &__burger {
      display: flex;
      margin-left: 11px;
    }
    &__personal {
      display: flex;
    }
  }
}
