.rotator {
  height: 880px;
  position: relative;
  &__main-text {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 1px;
    color: #333333;

    margin-top: 76px;
  }
  &__text {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #333333;

    margin-top: 14px;
    margin-right: 14px;
  }
  &__browse {
    margin-top: 597px;
    display: flex;
    align-items: center;
  }
  &__browse-text {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #333333;

    margin-right: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .rotator {
    height: 954px;
    &__browse {
      margin-top: 582px;
      display: flex;
      align-items: center;
    }
    &__main-text {
      margin-top: 86px;
      width: 470px;
      line-height: 64px;
      overflow: hidden;
    }
  }
}
